.navbar {
    border-bottom: 1px solid $color-light;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        font-size: 2.5rem;
        &--link {
            text-decoration: none;
            color: $color-light;
        }
    }
    &__nav {
    }
    &__list {
        display: flex;
        list-style: none;
    }
    &__item {
    }
    &__link {
        text-decoration: none;
        color: $color-light;
    }
}
